.product {
    width: 100%;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    margin: 16px;
  }

  .product_in {
    border: 1px solid #e2cfcf;
    padding: 16px;
  }
  
  .product__rating {
    display: flex;
  }
  
  .prd_img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .add_product {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
  }
  
  .product__price {
    margin-top: 5px;
  }
  
  .product__info {
    margin-bottom: 15px;
    background-color: white;
  }
  
  .prd_upload_img {
    height: 200px;
    width: 200px;
  }